@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wraper {
    margin: auto;
    max-width: 50vw;
    padding-bottom: 2vw;
}

.wraper,
.bayan__sliders:hover * {
    cursor: pointer;
}

.bayan__sliders:hover {
    color: #4865b8
}


h1 {
    font-size: 5vw;
    font-weight: 700;
    color: #4865b8;
    padding: 1vw 0vw;
}

input {
    display: none;
}

.bayan__sliders {
    width: 100%;
    margin: auto;
    transition: margin-left 800ms ease-in-out;
}

h1,
.bayan {
    border-bottom: 2px solid #4865b8;
}

.img {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

img {
    width: 100%;
    margin-top: 2vw;
}

.bayan {
    padding: 2vw 0vw
}

.bayan p {
    font-size: 2vw;
}


.bayan__sliders input:checked+label {
    color: #4865b8;
    font-weight: 700;
}

.bayan__sliders input:checked+label .img,
.bayan__sliders input:hover+label .img {
    max-height: 50vw;
    transition: max-height 0.5s ease-in;
}